@model MyDiplom.Models.Device

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Device</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlaceOnStand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlaceOnStand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.typeDevice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.typeDevice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberDevice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberDevice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearDevice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearDevice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCheck)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCheck)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateFutureCheck)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateFutureCheck)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="ForAdminDevice">Back to List</a>
    </form>
</div>
