@model MyDiplom.Models.Failure

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Failure</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateFailure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateFailure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Consequence)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Consequence)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Device)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Device.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FailureId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
